body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 2000px;
    padding: 20px;
    background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145)) no-repeat;
    background-size: cover;
    /* 让背景图基于容器大小伸缩 */
    background-attachment: fixed;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    /*此条属性必须设置否则可能无效*/
    background-color: #CCCCCC;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
}