/* 主页css */
/* 交流区域 */
#com1 {
    background: #fc5c7d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#com2 {
    background-color: #0095d9;
}

/* 音乐精选页面media区域 */
#selection-media1 {
    background: #c6ffdd;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* 主页css结束 */