.comment-user-1 {
    display: inline-block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../img/liu.jpg");
    background-size: cover;
    background-position: center;
 
}


.comment-user-2 {
    display: inline-block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../img/2.jpg");
    background-size: cover;
    background-position: center;
 
}


.comment-user-3 {
    display: inline-block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../img/3.jpg");
    background-size: cover;
    background-position: center;
 
}











