.comment-card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 248px;
    height: 500px;
}
.comment-header {
    display: flex;
    align-items: center;
}
.comment-header h3 {
    margin-right: 10px;
}
.comment-content {
    margin-top: 5px;
}
.element{
    cursor: crosshair;
}